@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Share+Tech+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Orbitron", monospace;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgba(178, 178, 185, 0.3);
}

.clock {
  position: relative;
  margin: 0 auto;
}

.clock-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 322px;
  height: 366px;
  background: radial-gradient(
      circle at 7% 10%,
      rgba(45, 40, 35, 0.4),
      transparent 60px
    ),
    radial-gradient(circle at 90% 10%, rgba(45, 45, 50, 0.4), transparent 60px),
    radial-gradient(circle at 10% 85%, rgba(35, 35, 40, 0.4), transparent 60px),
    radial-gradient(circle at 90% 85%, rgba(45, 40, 35, 0.4), transparent 60px),
    radial-gradient(
      circle at 50% 5%,
      rgba(178, 178, 183, 0.7),
      transparent 80px
    ),
    radial-gradient(
      circle at 6.7% 75%,
      rgba(97, 97, 105, 0.5),
      rgba(0, 0, 255, 0) 70.71%
    ),
    radial-gradient(
        circle at 93.3% 75%,
        rgba(200, 200, 210, 0.5),
        rgba(0, 255, 0, 0) 70%
      )
      #e4e3e3;
  clip-path: url(#svg-mask);
}
.wrap {
  filter: drop-shadow(-1px 6px 4px rgba(50, 50, 70, 0.5)) contrast(110%);
  /* hue-rotate(40deg); */
}
.mask {
  position: absolute;
  width: 0px;
  height: 0px;
}
.first-border {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 274px;
  height: 274px;
  border: 1px solid #aaa;
  background: radial-gradient(
      circle at top left,
      rgba(255, 255, 255, 0.5),
      transparent 100px
    ),
    radial-gradient(
      circle at top right,
      rgba(205, 205, 215, 0.5),
      transparent 100px
    ),
    radial-gradient(at 50% 150%, rgba(245, 245, 255, 0.5), transparent 100px),
    radial-gradient(
      circle at bottom right,
      rgba(225, 220, 235, 0.5),
      transparent 400px
    );
  border-radius: 50%;

  box-shadow: 0 0 3px #cfcdcd, 2px 0 4px #9c9c9c, 0px 0 1px 1px rgb(15, 15, 15),
    inset 0px -2px 4px 1px #9c9c9c, inset 0px -2px 1px 3px #cfcdcd,
    inset 0px 0px 4px rgb(15, 15, 15);
  transform: translateY(-5px);
}
.visor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 207px;
  height: 207px;
  border-radius: 50%;
  border: 1px solid #f3f3f7;
  background: linear-gradient(175deg, #848080, #161616);

  box-shadow: 0 0 3px 1px #dededf, 2px -2px 2px 1px #161620,
    inset 0px -2px 1px 1px #4a4a4c, inset 0px 2px 1px 1px #212126;
  overflow: hidden;
}

.bar {
  position: absolute;
  height: 2px;
  width: 210px;
  transform: translateY(70px);
  background: linear-gradient(
    90deg,
    #848086 1%,
    #9e9e9e,
    #d4d4d4 15%,
    #d4d4f4 90%,
    #848080 100%
  );
  top: 10px;
}
.week {
  margin-top: 8px;
  font-size: 1.2rem;
  color: rgba(240, 240, 250, 0.2);
}
.month-day {
  display: flex;
  align-items: center;
  color: rgba(250, 250, 255, 0.2);
  letter-spacing: 3px;
}
.month-day::before {
  content: "MONTH";
  font-size: 0.4rem;
  transform: translateX(-15px);
}
.month-day::after {
  content: " DATE";
  font-size: 0.4rem;
  transform: translateX(15px);
}
.hour {
  margin-top: 7px;
  font-size: 3.1rem;
  letter-spacing: 3px;
  color: rgba(240, 240, 250, 0.2);
  margin-bottom: 0;
  text-align: center;
}
.seconds {
  text-align: right;
  font-size: 2.4rem;
  letter-spacing: 3px;
  color: rgba(240, 240, 250, 0.2);
  margin-top: -5px;
  text-align: center;
}
.functions {
  position: absolute;
}
.functions p {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
  font-weight: 400;
  color: #161616;
}
.light {
  left: 18px;
  top: 70px;
  transform: rotate(-60deg);
}
.brand {
  top: 5px;
}
.start {
  right: 13px;
  top: 70px;
  transform: rotate(60deg);
}
.reset {
  right: 20px;
  bottom: 60px;
  transform: rotate(125deg);
}
.tuguir {
  bottom: 15px;
}
.mode {
  left: 25px;
  bottom: 60px;
  transform: rotate(-125deg);
}

/* Top Strap */
.container-top-strap {
  position: absolute;
  width: 142px;
  height: 95px;
  /* background: black; */
  top: -70px;
  left: 89px;
  overflow: hidden;
  border-radius: 3px 3px 0px 0px;
}
.top-strap-bar {
  position: absolute;
  width: 144px;
  height: 25px;
  background: linear-gradient(
    rgba(150, 150, 160, 1),
    rgba(230, 230, 240, 1),
    #cfcfcd,
    #777 30%,
    #555,
    #777 30%,
    rgba(230, 230, 240, 1),
    #777
  );
  box-shadow: inset 1px -5px 2px rgba(150, 150, 160, 1);

  bottom: 0;
  z-index: 2;
  /* display: none; */
}

/* Bottom Strap */
.container-bottom-strap {
  position: absolute;
  width: 142px;
  height: 115px;
  /* background: black; */
  bottom: -89px;
  left: 89px;
  overflow: hidden;
  border-radius: 0px 0px 6px 6px;
}

.bottom-strap-bar {
  position: absolute;
  width: 144px;
  height: 25px;
  background: linear-gradient(
    #555 3%,
    rgba(150, 150, 160, 1),
    20%,
    rgba(230, 230, 240, 1),
    60%,
    #555,
    rgba(230, 230, 240, 1),
    85%,
    #777 92%
  );
  box-shadow: inset 1px 0px 2px rgba(150, 150, 160, 1),
    inset -2px 0px 2px rgba(150, 150, 160, 1), 1px 3px 5px rgba(50, 50, 60, 1);

  top: 0;
  z-index: 2;
  /* display: none; */
}
